.axis text {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#spectrograph {
    float: left;
    background-color: black ;
}

svg {
    float: left;
}
